/*
main{
    color:rgb(26, 25, 27) ;
    height:auto;
    width:auto;
    border:15px black;
    border-radius: 55px;
    padding:55px;
    padding: 50px;
    margin: 5px 10px 15px 20px;
   
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     color: white;
     background-image:url(https://i.pinimg.com/1200x/d2/ad/7c/d2ad7c4f537e1f8919cf419f60e04283.jpg);
    

}
div:hover{
         box-shadow:15px 10px 10px 5px rgb(84, 84, 84);
         background-image:url(https://i.pinimg.com/1200x/b7/27/7c/b7277caab37f2e8d820433149ea9cb4c.jpg);
         font-family: "Bitcount Prop Single", system-ui;
} */
.main{
    background-color: bisque;
    height:650px;
    width:650px;
    margin: 25px;
    padding:5px;
    border-radius: 15px;
    display: flex;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation-name: jujutsukaisen;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes jujutsukaisen{
    0%{
        background-image: url(https://i.pinimg.com/1200x/b7/27/7c/b7277caab37f2e8d820433149ea9cb4c.jpg);
    }
    25%{
        background-image: url(https://i.pinimg.com/1200x/45/b4/da/45b4da77420ccfff9ab8196944c8cf26.jpg);
    }
    50%{
        background-image: url(https://i.pinimg.com/736x/b3/90/b3/b390b3612b7f021f46c3c4c20b4e2180.jpg);
    }
    75%{
        background-image: url(https://i.pinimg.com/1200x/54/8b/bd/548bbdf78b4f591152cd190e00f0726e.jpg);
    }
    100%{
        background-image: url(https://i.pinimg.com/1200x/71/44/cc/7144cc597541d60826c984ab9fe935d8.jpg);
    }
}